<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments::head">
    <title>Szcegóły wizyty</title>
</head>
<body>
<div id="container">
    <header th:insert="fragments4.html::header">Heder</header>
    <div id="content">
        <div th:if="${notExist}" class="contentform">
            <h1>ERROR</h1>
            <p th:text="${notExist}">Błąd</p>
        </div>
        <div th:unless="${notExist}">
            <div class="contentform">
                <h1>Dodaj skierownie</h1>
                <div th:if="${added}">
                    <h2>Dodano skierownanie pomyślnie, dodaj kolejne:</h2>
                </div>
                <form action="#" method="post" th:action="@{/doctor/referral/{id}(id=${referral.id})}"
                      th:object="${referral}">
                    <table>
                        <tr>
                            <td>
                                <label for="title">Tytuł skierowania::</label>
                            </td>
                            <td>
                                <input type="text" id="title" th:field="*{title}">
                            </td>
                            <td>
                                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error">Błędy</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="noteDescription">Opis skierowania:</label>
                            </td>
                            <td>
                                    <textarea id="noteDescription" rows="4" cols="50"
                                              th:field="*{description}"></textarea>
                            </td>
                            <td>
                                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error">
                                    Błędy</p>
                            </td>
                        </tr>
                    </table>
                    <input type="submit" value="Zatwierdz skierowanie">
                </form>
            </div>
        </div>
        <div class="contentform">
            <a th:href="@{/doctor/visit/{id}/info(id=${referral.id})}">Wróć do wizyty</a>
        </div>
        <div class="contentform">
            <a th:href="@{/logout}">Wyloguj się</a>
        </div>
    </div>
    <footer th:insert="~{fragments.html::footer}">Stopka</footer>
</div>
</body>
</html>