
<!--HEADER-->
    <header th:fragment="header">
        <div id="logo">
            Zbadaj się &#9828;
        </div>

        <nav id="menu">
            <section id="navbar">
                <a class="menu " href="/">Aktualności</a>
                <a class="menuS" href="/#about">O nas</a>
                <a class="menuS" href="/#services">Usługi</a>
                <a class="menuS" href="/#contact">Kontakt</a>
                <a class="menu active" href="/login">Konto</a>
            </section>
        </nav>


        <div id="topbar">
            <h1>Już dziś wybierz najlepszego specjaliste</h1>
            <p><img class="left" th:src="@{/images/logo.png}" src="../static/images/logo.png" alt="logo - header"/>
                ZLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia mollis odio eu bibendum. Praesent
                non hendrerit risus. Nulla id semper sem. Mauris risus mauris, ultrices sed ullamcorper sed, vulputate vel
                nisi. Aliquam augue ante, mattis in pulvinar vitae, ultrices nec leo. Nulla ultricies augue enim, sit amet
                semper tellus vulputate sit amet. Maecenas tincidunt, ex eu viverra scelerisque, quam lectus auctor nunc, at
                pretium nibh lacus in ligula. Cras condimentum felis ac aliquet tristique.
                Sed elementum eu nulla vel rutrum. Cras feugiat nulla non congue malesuada.</p>
        </div>
    </header>




