<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::head"></head>
<body>
<div id="container">
    <header th:replace="fragments2.html::header">Heder</header>

    <div id ="content">
        <div class="contentform">
            <h1>Zarejestruj się i wybiierz specjlaistę</h1>
            <form action="#" method="post" th:action="@{/register}" th:object="${user}">
                <p>
                <label>
                    Nazwa użytkownika
                    <input type="text" placeholder="Jan" th:field="*{userName}">
                </label>
                </p>
                <p th:errors="*{userName}" class="error">Błędy związane z imieniem</p>
                <p>
                <label>
                    Hasło
                    <input type="password" th:field="*{password}">
                </label>
                </p>
                <p th:errors="*{password}" class="error">Błędne hasło, musi zawieraćminimalnie 8 znaków</p>
                <p>
                <label>
                    Email
                    <input type="email" placeholder="twoj@email.com" th:field="*{email}">
                </label>
                </p>
                <p th:errors="*{email}" class="error">Błędny adres email</p>
                <button type="submit">Zarejestruj</button>
            </form>
        </div>
    </div>

    <footer th:replace="~{fragments.html::footer}">Stopka</footer>
</div>


</body>
</html>
