<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::head">
    <title>Wizyty</title>
</head>
<body>
<div id="container">
    <header th:insert="fragments4.html::header">Heder</header>
    <div id="content">

        <div class="contentform">
            <h1>Moje wizyty</h1>
            <div th:if="${visits}">
                <table>
                    <tr>
                        <th>Pacjent</th>
                        <th>Data</th>
                        <th>Opis</th>
                        <th>Zakceptowane</th>
                        <th>Link</th>
                    </tr>

                    <tr th:each="visit : ${visits}">
                        <td th:text="${visit.getPatientFirstName()+' '+visit.getPatientLastName()}">Jan Kowalski</td>
                        <td th:text="${visit.date + ' ' + visit.time}">12.12.2012 11:00</td>
                        <td th:text="${visit.description}">Opis</td>
                        <td th:if="${visit.isAccept()}">Zakceptowana</td>
                        <td th:unless="${visit.isAccept()}">Brak akceptacji</td>
                        <td><a th:href="@{/doctor/visit/{id}(id=${visit.id})}">Przejdz...</a></td>
                    </tr>

                </table>
            </div>
            <div th:unless="${visits}">
                Brak wizyt!
            </div>
        </div>
        <div class="contentform">
            <a th:href="@{/logout}">Wyloguj się</a>
        </div>
    </div>
        <footer th:insert="~{fragments.html::footer}">Stopka</footer>
    </div>
</body>
</html>